.chips {
    background-color: var(--black);
    color: var(--white);
    margin: 6px;
    padding: 4px 8px;
    border-radius: 10px;
    width: fit-content;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
}

.container {
    display: flex;
    /* width: 159px; */
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
}

.card {
    display: flex;
    width: 159px;
    height: 232px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.card-name {
    align-self: flex-start;
    color: var(--white);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400; 
}

.card-img {
    position: relative;
    left: 0px;
    width: 159px;
    height: 170px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}